* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #fdfbf6;
  min-height: 50vh;
  display: grid;
  place-items: center;
}
.container {
  background-color: #D9D9D9;
  text-align: center;
  border: solid 1px black ;
  margin: 5%;
  height: 523.04px;
  width: 55vh;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;

}
#ul {
  overflow: auto;
  background-color:#D9D9D9;
  border: solid 1.5px rgb(31, 23, 12);
  font-size: 3vh;
  color: rgb(0, 0, 0);
  margin: 20px;
  margin-top: 100px;
  height: 250px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0px;
  text-align: left;
 
}
.bt:hover {
  transition-duration:0.5s;
  border-radius: 2px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: rgb(56, 56, 51);
}

#l {
  margin-top: 10px;
  color: rgb(19, 17, 17);
  font-size: 18px;
  font: bold;
}
li {
  border-bottom: solid 2px rgb(102, 101, 101) ;
  padding: 5px 10px;
  background-color: #bbbbbb;

}
li:hover {
  transition-duration: 0.18s;
  
}

input {
  background-color: rgb(112, 109, 109);
  color: #D9D9D9;
  border: solid 1px black;
  border-radius: 10px;
  padding: 17px;
  position: relative;
  top: 10%;
  right: 20px;
}
input::placeholder {
  color: rgb(39, 39, 39);
}
.bt {
  transition-duration:0.5s;
  font-family: bold;
  font-size: 20px;
  width: 50px;
  padding: 10px;
  position: relative;
  left: 10px;
  top: 10%;
  border-radius: 10px;
  border: solid 1px;
}
button {
  position: absolute;
  left: 59%;
  box-shadow: rgb(128, 124, 124) 3px 3px 0px 0px;
}
