* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(119, 255, 178);
  min-height: 50vh;
  display: grid;
  place-items: center;
}
.container {
  background-color: rgb(128, 111, 223);
  margin: 20px;
  height: 600px;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  padding: 10px;
  box-shadow: 8px 10px 20px rgb(181, 248, 217);
}
#ul {
  overflow: auto;
  background-color: rgb(238, 224, 204);
  border: solid 3px rgb(31, 23, 12);
  text-align: left;
  padding: 20px;
  font-size: 3vh;
  color: rgb(0, 0, 0);
  margin: 10px;
  height: 400px;
}
button:hover {
  background-color: rgb(181, 217, 231);
  border: 3px rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: rgb(56, 56, 51);
}

#l {
  color: rgb(19, 17, 17);
}
li {
  background-color: rgb(210, 210, 218);
  border-radius: 3px;
  padding: 5px 10px;
  margin: 2vh;
}
li:hover {
  transition-duration: 0.18s;
  background-color: rgb(98, 175, 199);
}
